[
  {
    uuid: 'hello'
    hashedToken: 'this-is-something-awesome'
    metadata:
      createdAt: 'Tue Jul 05 2001 23:13:19 GMT-0700 (MST)'
  }
  {
    uuid: 'hello'
    hashedToken: 'this-is-kinda-awesome'
    metadata:
      createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
      tag: 'greeting'
  }
  {
    uuid: 'oh-boy'
    hashedToken: 'this-is-something-lame'
    metadata:
      createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
      tag: 'downer'
  }
  {
    uuid: 'oh-boy'
    hashedToken: 'this-is-kinda-lame'
    metadata:
      createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
      tag: 'downer'
  }
  {
    uuid: 'oh-boy'
    hashedToken: 'this-is-kinda-lame'
    expiresOn: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
    metadata:
      createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
      tag: 'downer'
  }
  {
    uuid: 'oh-boy'
    hashedToken: 'this-is-future-lame'
    expiresOn: 'Tue Jul 05 2020 23:13:19 GMT-0700 (MST)'
    metadata:
      createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
      tag: 'downer'
  }
  {
    uuid: 'oh-boy'
    expiresOn: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
    hashedToken: 'this-is-something-lame'
    metadata:
      createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
      tag: 'downer'
  }
  {
    uuid: 'oh-boy'
    expiresOn: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
    hashedToken: 'this-is-kinda-lame'
    metadata:
      createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
      tag: 'downer'
  }
]
