[
  {
    uuid: 'ingore-this'
    token: 'this-should-still-exist'
    meshblu:
      createdAt: 'Tue Jul 05 2001 23:13:19 GMT-0700 (MST)'
      tokens: {}
  }
  {
    uuid: 'ingore-this-too'
    token: 'this-should-still-exist'
    meshblu:
      createdAt: 'Tue Jul 05 2001 23:13:19 GMT-0700 (MST)'
  }
  {
    uuid: 'hello'
    token: 'this-should-exist'
    meshblu:
      createdAt: 'Tue Jul 05 2001 23:13:19 GMT-0700 (MST)'
      tokens:
        'this-is-something-awesome':
          createdAt: 'Tue Jul 05 2001 23:13:19 GMT-0700 (MST)'
        'this-is-kinda-awesome':
          createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
          tag: 'greeting'
  }
  {
    uuid: 'oh-boy'
    token: 'this-should-exist'
    meshblu:
      createdAt: 'Tue Jul 05 2001 23:13:19 GMT-0700 (MST)'
      tokens:
        'this-is-something-lame':
          createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
          tag: 'downer'
        'this-is-kinda-lame':
          createdAt: 'Tue Jul 05 2016 23:13:19 GMT-0700 (MST)'
          tag: 'downer'
  }
]
